<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <connectionStrings>
    <add name="conn" connectionString="Server=6aa4eeed-bc6c-4179-ada1-a3330096f07a.sqlserver.sequelizer.com;Database=db6aa4eeedbc6c4179ada1a3330096f07a;User ID=vtrfyinuccnfwwpq;Password=uNJMQq5K8ggfBHRrgQaYiqPHXqEE5u3ZbAvBonAHYfn2nzuEwpfk2UCe8aXySxNM;"/>
  </connectionStrings>
</configuration>
